.b_white
	background: #fff 
	+clr
%label
	display: block
	font-size: 19px
	color: #3DB39E
	margin-bottom: 14px  
	+bold
.layout
	.l-col1
		float: left
		width: 470px 
	.l-col2
		float: right
		width: 382px 
		background: #BCCDD5 
		.l-col2__inner
			padding: 15px 
			position: relative
	&.layout_single
		.l-col2
			float: none
			width: auto
			.l-col2__inner
				padding: 25px 
				.table
					margin-bottom: 0 

.prove
	padding: 14px 20px
	background: #fff
	min-height: 230px
	.prove__title
		+bold
		font-size: 19px 
		margin-bottom: 14px 
		color: #3DB39E 
	p
		+lite
		font-size: 15px 
		color: #515E78 
		margin-bottom: 14px 
	&.prove_code
		padding-top: 70px 
		min-height: 170px 
		.prove__codeenter
			margin-right: 50px 
			position: relative
		.prove__cancel
			position: absolute
			right: -50px
			top: 0
			width: 45px   
			height: 40px 
			line-height: 40px
			background: #EEA6A6
			cursor: pointer
			color: #fff
			text-align: center
			font-size: 25px  
			i
				position: relative
				top: 4px 
			&:hover
				background: darken(#EEA6A6, 10%) 

.typefield
	margin-bottom: 15px 
	position: relative
	.typefield__icon
		position: absolute
		left: 0
		top: 0 
		height: 40px  
		width: 40px 
		text-align: center
		color: #fff 
		background: #BCCDD5 
		line-height: 40px
		font-size: 21px  
		i
			position: relative
			top: 4px 
	input
		padding-left: 51px 
	input:focus + .typefield__icon
		background: #49AEA1 
.prove__checkbox
	padding-left: 41px 
	position: relative
	+lite
	font-size: 13px 
	color: #515E78 
	label
		cursor: pointer
	input
		display: none
	i
		display: inline-block
		width: 16px 
		height: 16px 
		border: 2px solid #BCCDD5 
		border-radius: 2px
		background: #fff 
		position: absolute
		left: 10px 
		top: 4px 
	input:checked + i
		background: #43B29E 
		
.pleasenote
	border-top: 1px solid #EBEFF6 
	background: #fff 
	padding: 29px 26px 
	.pleasenote__message
		border: 1px solid #49AEA1 
		background: #F7FBFA
		padding: 12px 15px
		color: #49AEA1
		font-size: 12px    
.paywith
	padding: 33px 26px
	padding: 24px 26px
	border-top: 1px solid #EBEFF6 
	label
		@extend %label
		position: relative
	.info
		position: absolute
		right: 0
		top: 6px 
		cursor: pointer
		color: #44AFA1  
.send
	padding: 25px 
	border-top: 1px solid #EBEFF7 
	h3
		@extend %label
	.field
		margin-bottom: 12px 
		+clr
		label
			float: left
			width: 115px 
			padding-left: 15px 
			font-size: 17px 
			+semi
			color: #34495E 
			padding-top: 8px 
		.field__input
			float: right
			width: 280px 
			.input
				+lite
				font-size: 17px 
				+placeholder-color(#ccc)
.qr
	padding: 25px 26px 
	border-top: 1px solid #EBEFF6 
	label
		@extend %label
.qrinput
	position: relative
	input
		padding-right: 60px 
		color: #CBCBCB
		&:focus
			color: #495877 	
			border-color: #67768A 		
	.qrinput__icon
		position: absolute
		right: 0
		top: 0
		height: 40px   
		width: 45px 
		line-height: 45px 
		text-align: center
		font-size: 24px 
		color: #fff
		background: #67768A
		c  
		i
			position: relative
			top: 2px 
.paywith .qrinput
	margin-top: 15px 
.note
	font-size: 13px 
	+lite
	color: #515E78
	margin-top: 10px  
	a
		+semi
		color: #3DB39E
		text-decoration: none 
	&.note_error
		color: #EEA6A6 
.spendbuy
	padding: 24px 26px
	+clr
	&.spendbuy_small
		padding: 0 
		height: 45px 
		overflow: hidden
	label
		@extend %label
	input
		text-align: right
		padding-right: 60px 
	.spendbuy__spend,.spendbuy__buy
		float: left
		margin-bottom: 10px 
		width: 50% 
	.notes
		clear: both
	input,.amountinput__currency
		border-radius: 0


.accountinfo
	background: #fff 
	padding: 23px 0 
	text-align: center
	.accountinfo__inner
		width: 630px 
		margin: 0 auto 
	.accountinfo__tocomplete,.account__confirm
		font-size: 17px 
		color: #55606E
		margin-bottom: 15px 
		+semi
		strong
			+bold
			font-size: 18px 
			color: #44AFA1 
	.account__confirm
		margin-bottom: 0 
		strong
			color: #55606E 
			+bold
			span
				color: #44AFA1 
	.accountinfo__note
		background: #F7FBFA
		border: 2px solid #49AEA1
		text-align: center
		padding: 16px
		color: #49AEA1
		+semi
		font-size: 17px   
	.accountinfo__list
		margin: 25px 0
		dl
			margin-bottom: 3px 
			height: 38px 
			line-height: 38px
			border-radius: 3px
			position: relative
			text-align: left
			border: 2px solid #EBEFF6 
			padding-left: 200px + 20px
			background: #EBEFF6 
			dt
				position: absolute
				left: 0
				top: 0
				height: 38px  
				line-height: 38px 
				font-size: 17px 
				+lite
				color: #55606E 
				width: 200px - 20px
				padding-left: 19px
				background: #fff 
			&.is-important
				dt
					+bold
					color: #E54C41 
			dd
				color: #55606E
				+bold
				font-size: 19px  

	.accountinfo__imp
		text-align: left
		padding: 0 8px 
		h3
			color: #E54C41 
			+bold
			font-size: 18px 
		p
			font-size: 16px 
			color: #55606E
			+proxima 
.supernote
	border: 1px solid #49AEA1 
	background: #F7FBFA
	padding: 12px 15px
	color: #49AEA1
	font-size: 12px  
	margin: 45px 0 30px 0 
.message
	text-align: center
	background: #fff
	font-size: 17px  
	color: #455473
	padding: 60px 0 
.pricevalid
	position: absolute
	bottom: 0
	height: 25px   
	line-height: 25px
	text-align: center
	left: 0
	width: 100%
	font-style: italic
	font-size: 17px  
	color: #fff   
	span
		+ssemi
		color: #fff 
		font-style: normal 

.cooldown
	position: relative
	background: #fff 
	height: 16px
	border-bottom: 2px solid #70859D  
	.cooldown__time
		background: #49AEA1 
		position: absolute
		right: 0
		width: 30%
		height: 16px    
	&.is-expired
		.cooldown__time
			display: none
	&.is-expiring
		.cooldown__time
			background: #F1D36B
	&.is-almostexpired
		.cooldown__time
			background: #E06B6C 
.sendit
	padding: 17px 105px
	background: #fff  
	text-align: center
	.sendit__amount
		font-size: 18px 
		color: #485878
		strong
			+sbold
			font-size: 27px 
			margin: 0 5px 
			span
				color: #44AFA1 
	.sendit__qr
		margin: 20px 0
		text-align: center 
	.sendit__qrcode
		background: #F5FBFA
		+ssemi
		font-size: 19px 
		color: #44AFA1
		padding: 14px 0
		text-align: center
		  
.launch
	@extend .submit	
	background: #6F859F
	&:hover
		background: darken(#6F859F , 10%)
	i
		font-size: 29px 
		position: relative
		top: 5px 
		color: #FAD575 
		vertical-align: middle
		