// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(proxima,proximanova-regular-webfont)
+font(lite,proximanova-light-webfont)
+font(bold,proximanova-bold-webfont)
+font(semi,proximanova-semibold-webfont)

=proxima
	font-family: proxima,sans-serif
	font-weight: normal 
=lite
	font-family: lite,sans-serif
	font-weight: normal 
=bold
	font-family: bold,sans-serif
	font-weight: normal 
=semi
	font-family: semi,sans-serif
	font-weight: normal 

=slite
	font-family: 'Source Code Pro',sans-serif
	font-weight: 300
=snormal
	font-family: 'Source Code Pro',sans-serif
	font-weight: 400
=ssemi
	font-family: 'Source Code Pro',sans-serif
	font-weight: 600
=sbold
	font-family: 'Source Code Pro',sans-serif
	font-weight: 700
	
body
	+proxima
	font-size: 12px 
	line-height: 1.4
	background: #E6EEF2 
	min-width: 932px 
.b
	background: #fff 
	margin-bottom: 30px 
	border-radius: 2px
.btn
	background: #43B29E 
	border-radius: 3px
	min-width: 105px 
	height: 33px 
	line-height: 33px
	white-space: nowrap
	padding: 0 10px  
	font-size: 14px 
	+semi
	cursor: pointer
	color: #fff 
	text-decoration: none
	display: inline-block
	text-align: center
	&:hover
		background: darken(#43B29E , 10%)
.bluebtn
	background: #677689 
	border-radius: 3px
	height: 40px 
	line-height: 40px
	white-space: nowrap
	padding: 0 24px  
	font-size: 17px 
	+semi
	cursor: pointer
	color: #fff 
	text-decoration: none
	display: inline-block
	text-align: center
	&:hover
		background: darken(#677689 , 10%)
.header
	border-bottom: 2px solid #485878 
	height: 58px 
	line-height: 58px
	padding-left: 25px  
	+clr
	h2
		float: left
		+semi
		font-size: 21px 
		color: #495877 
	.header__add
		float: right
		background: #44AFA1
		height: 40px  
		line-height: 40px
		border-radius: 3px
		font-size: 17px  
		color: #fff
		padding: 0 13px
		margin: 9px 9px 0 0  
		cursor: pointer
		i
			display: inline-block
			vertical-align: middle
			position: relative
			top: 2px  
			font-size: 14px 
			margin-right: 8px 
	.header__right
		float: right
		text-align: right
		font-size: 21px 
		color: #485878
		margin-right: 25px 
		strong
			+bold
			color: #3DB39E
			margin-left: 5px 
		&.header__right_closer
			margin-right: 10px 
.table
	border-spacing: 0
	border-collapse: collapse
	width: 100%
	th,td
		font-weight: normal
		border-bottom: 1px solid #EBEFF6 
		padding: 17px 14px 
		text-align: left
		font-size: 18px 
		color: #455473 
	tr
		&:last-child
			td,th
				border-bottom: none
	.table__edit,.table__info,.table__remove
		background: #70859D
		width: 38px  
		padding: 0
		text-align: center 
		color: #fff 
		cursor: pointer
		&:hover
			background: darken(#70859D, 10%)
			background: #fff
			box-shadow: inset 0 0 0 2px #70859D 
			color: #70859D 
		i
			position: relative
			top: 3px 
	.table__remove
		background: #ECAAAB 
		font-size: 23px 
		&:hover
			background: #E06B6C 
			background: #fff
			box-shadow: inset 0 0 0 2px #E06B6C 
			color: #E06B6C 
		i
			top: 5px 
	.table__green
		color: #44AFA1 
		+sbold
	.table__currency
		color: #44AFA1 
		+sbold
		margin-left: 10px 
	.table__font
		+snormal
	.table__amount
		text-align: right
		+sbold
	.table__status
		font-style: italic 
		color: #49AEA1
		font-size: 18px 
		padding-left: 30px 
		padding-right: 30px 
		&.is-pending
			color: #F1D36B 
	.table__date
		padding-left: 25px 
		padding-right: 20px 
		padding-top: 0
		padding-bottom: 0
		font-size: 30px 
		text-align: left
		line-height: .8
		text-transform: uppercase 
		width: 44px 
		vertical-align: middle
		+slite
		span
			display: block
			font-size: 17px
			+bold
	.table__time
		padding-left: 0 
		+snormal
	.table__more
		padding: 10px 0
		background: #F9FAFB  
	.table__right
		text-align: right
	.table__footer
		td
			background: #EBEFF6
			border-top: 2px solid #BCCCD5  
			+semi
		.table__amount
			+sbold

	&.table_small
		td
			font-size: 15px !important
			padding: 14px 20px 
		td+td
			font-size: 17px !important
	&.table_due
		margin-bottom: 15px 
		background: #fff
		td
			border: none
			font-size: 17px !important
			padding: 9px 20px 
		tbody 
			tr:first-child td
				padding-top: 14px 
			tr:last-child td
				padding-bottom: 14px 
		tfoot
			td
				background: #445572
				color: #fff  
				border-top: 2px solid #BCCDD5 
				padding: 14px 20px 
.filters
	+clr
	padding: 15px 25px 
	border-bottom: 1px solid #EBEFF6 
	font-size: 0 
	.filters__left
		float: left
	.filters__right
		float: right
		text-align: right
		white-space: nowrap
		.btn
			margin-left: 10px 

.select
	border: 2px solid #BCCDD5
	width: 266px 
	position: relative
	display: inline-block
	border-radius: 3px
	padding: 0px 16px 	
	height: 41px 
	line-height: 41px 
	i
		position: absolute
		right: 15px
		top: 15px  
		line-height: 1 
	.select__value
		font-size: 17px 
 
	select
		opacity: 0
		position: absolute
		height: 100% 
		top: 0
		left: 0
		-webkit-appearance: none
		z-index: 1
		width: 100% 
	&.select_dark
		border: none
		width: auto 
		padding: 0 23px 0 10px
		height: 33px  
		line-height: 33px
		color: #fff 
		background: #70859D 
		margin-right: 10px 
		vertical-align: top
		&:hover
			background: darken(#70859D, 10%)
		i
			top: 13px 
			line-height: 1 
			right: 8px 
			&:before
				color: #fff !important
		.select__value
			font-size: 14px 
			+semi
	&.select_green
		border-color: #43B29E 
		width: auto
		display: block
	.select__subvalue
		position: absolute
		right: 30px 
		top: 14px 
		font-size: 14px 
		color: #43B29E 
		line-height: 1 
		white-space: nowrap
		.select__money
			margin-left: 55px 
			+ssemi
			font-size: 17px
			color: #455473 
			vertical-align: middle
			display: inline-block
			position: relative
			top: -2px 
		.select__sum
			+sbold
			font-size: 17px 
			color: #485878
			position: relative
			top: -2px 
			span
				color: #3DB396 
	&.is-active
		.select__drop
			display: block
	.select__drop
		position: absolute
		top: 50px 
		left: -2px
		width: 100%
		border: 2px solid #BCCDD5
		display: none
		background: #FFFFFF 
		z-index: 1000 
		border-radius: 3px
		ul
			list-style: none  
			li
				position: relative
				cursor: pointer
				border-bottom: 1px solid #E6EEF2 
				.select__subvalue
					right: 14px 
				img
					display: block
				
			li:last-child
				border-bottom: none 
			.select__value
				padding-left: 15px 
.input-date
	display: inline-block
	margin-right: 10px 
	vertical-align: top
	position: relative
	input
		padding: 0 43px 0 7px 
		height: 29px - 3px
		padding-top: 3px 
		border-radius: 3px 
		+semi
		font-size: 13px 
		color: #677689
		border: 2px solid #677689  
		color: #495877 
		width: 80px 
		&:focus
			border-color: darken(#677689,10%) 
			color: darken(#677689,10%) 
	i
		position: absolute
		right: 4px
		top: 8px
		line-height: 1 
		color: #70859D   
		font-size: 15px 
		width: 30px 







































































































