.verify
	background: #FAF1D7
	border: 3px solid #EFD271  
	margin-bottom: 24px 
	font-size: 17px 
	+lite
	color: #485878
	padding: 25px  
	+clr
	p
		padding-top: 10px 
	.verify__button
		float: right
		.btn
			font-size: 17px 
			+semi
			height: 40px 
			line-height: 40px 

.volume
	+clr
	margin-bottom: 25px 
	.volume__col
		float: left
		width: 32%
		margin-left: 2%
		background: #FFFFFF
		border-radius: 3px 
		&.is-first
			margin-left: 0 
	.volume__title
		height: 40px 
		line-height: 40px
		text-align: center
		font-size: 17px 
		color: #34495E 
		border-bottom: 1px solid #EBEFF6  
		span
			+sbold
			font-size: 17px 
			color: #44AFA1 
	.volume__value
		font-size: 38px 
		+sbold
		text-align: center
		color: #485878 
		height: 74px 
		line-height: 74px 
	.volume__change
		height: 37px 
		line-height: 37px 
		display: block
		text-align: center
		border-bottom-left-radius: 3px
		border-bottom-right-radius: 3px
		+sbold
		color: #fff 
		font-size: 21px 
		background: #44AFA1 
		&.is-negative
			background: #E06B6C 
.addb
	background: #F9FAFB
	padding: 20px  86px
	border-bottom: 1px solid #EBEFF6 
	.addb__inner
		background: #fff 
		border: 2px solid #E6EEF2
		border-radius: 3px
	.addb__innercontent
		padding: 20px 25px 1px 20px 
	.addb__choosebutton
		border-bottom: 1px solid #E6EEF2 
		+clr
		.addb__inputradio
			height: 16px 
			width: 16px
			border-radius: 16px
			border: 2px solid #677689  
			display: inline-block
			position: relative
			vertical-align: middle
			margin-right: 12px 
		input
			display: none
			&:checked+.addb__inputradio
				&:before
					width: 10px  
					height: 10px 
					background: #3CB39E
					border-radius: 10px
					position: absolute
					top: 3px  
					left: 3px 
					content: ' '
		
		.addb__buttonb
			width: 50%
			float: left
			padding: 25px 0
			text-align: center
			cursor: pointer
			position: relative
			&:first-child
				&:before
					content: ' '
					position: absolute
					right: 0
					top: 0
					bottom: 0
					border-right: 1px solid #E6EEF2   
	.addb__button
		display: inline-block
		border: 2px solid #49AEA1 
		padding: 0 29px 0 15px 
		font-size: 17px 
		height: 40px 
		line-height: 40px 
		border-radius: 3px
		cursor: pointer
		+semi
		color: #43AFA1 
		i
			font-weight: normal
			color: #FAD575 
			margin-right: 10px 
			vertical-align: middle
			font-size: 14px 
			position: relative
			color: #fff
			top: -1px 
			background: #F7D27E  
			width: 20px
			text-align: center
			height: 20px
			line-height: 20px
			border-radius: 20px   
			display: inline-block
			&:before
				position: relative
				top: 3px 
				left: 1px 
	textarea
		resize: vertical 
	.submit
		margin: 0 -2px -2px -2px
	.addb__field
		+clr
		margin-bottom: 20px 
		.select
			float: right
			width: 240px 
		.input_short
			width: 210px 
			float: left
		label
			float: left
			width: 135px 
			font-size: 17px 
			+semi
			color: #33495D
			padding-top: 6px  
			padding-top: 10px 
		.addb__input
			float: right
			width: 490px 
	.hr
		margin: 20px -25px
		border-top: 2px solid #EBEFF6  
		display: block
		background: red  
	.addb__advanced
		font-size: 15px  
		color: #3CB39E
		margin: 20px 0 20px 143px 
		cursor: pointer
		+lite
		i
			font-size: 23px 
			color: #515F78
			margin-left: 6px  
		&.is-active
			i
				+transform(rotate(180deg))

.setting
	height: 59px 	
	line-height: 59px
	border-bottom: 1px solid #EBEFF6 
	position: relative
	.setting__name
		font-size: 17px 
		+semi
		color: #33495D
		height: 59px  
		line-height: 59px
		padding-left: 30px  
	.setting__value
		position: absolute
		right: 30px 
		top: 14px 
		position: absolute
	&.setting_more
		&:hover
			background: #F9FAFB
			.setting__edit
				// display: block
				display: inline-block
		.setting__edit
			display: none
			cursor: pointer
			z-index: 10 
			position: absolute
			right: 22px 
			top: 14px 
			line-height: 1 
			
			font-size: 25px 
			color: #485876 
		.setting__value
			left: 276px 
			position: absolute
			top: 8px
			font-size: 17px  
			color: #485778
			+semi 
			height: 45px
			line-height: 45px
			.amountinput
				width: 130px
			.select
				width: 95px 
			.js-payout
				width: 300px 
		.setting__name
			+lite
			i
				min-width: 30px 
				display: inline-block
				vertical-align: middle
				position: relative
				top: 2px 
.checkbox
	width: 80px 
	height: 33px 
	font-size: 15px 
	color: #fff 
	height: 33px
	line-height: 33px
	position: relative
	display: block
	cursor: pointer
	input
		display: none
	.checkbox__bg  
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0    
		border: 1px solid #DD6A6D
		border-radius: 4px 
		background: #EBEFF6 
		box-shadow: inset 0px 0 0px 2px #DADEE5
	.checkbox__value
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 43px    
		background: #DD6A6D 
		border-top-right-radius: 2px
		border-bottom-right-radius: 2px
		+transition(all .1s linear)
		box-shadow:  -2px 0 0px  #DADEE5
		-webkit-backface-visibility: hidden
	.checkbox__on,.checkbox__off
		width: 43px 
		position: absolute
		text-align: center
		top: 0  
		left: 0 
		+transition(all .1s linear)
	.checkbox__on
		opacity: 0 
	.checkbox__off
		right: 0 
		left: auto 
	input:checked +.checkbox__bg
		border-color: #50AEA1 
		.checkbox__on
			opacity: 1
		.checkbox__off
			opacity: 0 
		.checkbox__value
			background: #50AEA1 
			right: 36px 
			border-radius: 0
			border-top-left-radius: 2px
			border-bottom-left-radius: 2px
			box-shadow:  2px 0 0px  #DADEE5

.widgetwrap
	padding: 30px 50px
	background: #69819C 
.widget
	background: #EBEFF7
	.widget__header
		background: #fff  
		border-bottom: 2px solid #495876 
		height: 57px 
		line-height: 57px
		padding-left: 25px  
	.widget__logo
		display: inline-block
		font-style: italic 
		color: #43AFA1 
		font-size: 21px 
		text-decoration: none
	.widget__url
		margin-left: 35px 
		+lite
		font-size: 21px 
		color: #485778 
		display: inline-block
		text-decoration: none
	.widget__content
		padding: 20px 15px 
	.widget__validfor
		@extend .pricevalid
		position: static
		color: #495876
		background: #fff 
		span
			color: #495876 
	.widget__powered
		height: 48px 
		line-height: 48px
		font-size: 15px 
		color: #AFB8C6 
		text-align: center
		a
			+semi
			text-decoration: none
			color: #AFB8C6 
	.widget__tabcontent
		background: #fff
		padding: 23px 15px 
		+clr
	.widget__tabs
		+clr
		a
			float: left
			font-size: 18px 
			text-decoration: none 
			height: 60px 
			width: 356px 
			background: #485778 
			line-height: 60px
			text-align: center
			font-style: italic
			color: #D6D9E0  
			i
				font-size: 20px 
				vertical-align: middle
				margin-right: 10px
				position: relative 
				top: 2px 
			&.is-active
				background: #fff 
				box-shadow: inset 0 6px 0 #50AEA1
				color: #495876 
		a+a
			float: right
			width: 355px 
	.widget__qr
		float: left
		width: 340px 
		img
			display: block
			width: 100% 
	.paye
		width: 336px 
		border: 2px solid #BDCCD5 
		float: right
		border-radius: 3px
		.submit
			margin: 0 -2px -2px -2px 
		.totalwrap
			margin: 0 -2px  
		.paye__content
			padding: 46px 15px 42px 15px
		.paye__title
			font-size: 17px 
			text-align: center
			color: #485778 
			margin-bottom: 24px 
		.paye__sum
			text-align: center
			font-size: 30px  
			+sbold
			color: #485778
			margin-bottom: 20px 
			span
				color: #43AFA1 
.total
	background: #455571
	width: 100%  
	th
		text-align: left
		padding-left: 20px 
		+semi
		font-size: 15px 
		color: #fff 
		vertical-align: middle
	td
		text-align: right
		padding-right: 20px 
		font-size: 17px 
		padding-top: 10px 
		padding-bottom: 10px 
		+sbold
		.total__sum
			color: #fff
			span 
				color: #4CAFA1 
		.total__sum1
			+snormal
			color: #BDCCD6 
.login
	border: 2px solid #BDCCD5 
	border-radius: 3px
	.login__title
		height: 60px 
		line-height: 60px
		font-size: 17px  
		text-align: center
		color: #485878 
		border-bottom: 1px solid #E6EEF2 
	.login__form
		padding: 50px 126px 20px 126px 
	.login__reg
		font-size: 17px 
		color: #485878
		text-align: center
		margin-top: 40px 
		a
			text-decoration: none
			color: #50AEA0 
	.submit
		margin: 0 -2px -2px -2px 
.payit
	border: 2px solid #BDCCD5 
	border-radius: 3px
	.paywith
		width: 350px 
		margin: 0 auto 
	.payit__description
		font-size: 17px 
		color: #485878 
		text-align: center
		margin-bottom: 20px 
		.payit__sum
			+sbold
			margin: 0 5px 
			span
				color: #44AFA1 
	.payit__title
		height: 60px 
		line-height: 60px
		font-size: 17px  
		text-align: center
		color: #485878 
		border-bottom: 1px solid #E6EEF2 
		a
			color: #44AFA1
			text-decoration: none
		b
			+semi
	.submit
		margin: 0 -2px -2px -2px 
	.totalwrap
		margin: 0 -2px  